# --- GCP & Firestore & GCS Configuration ---
GOOGLE_CLOUD_PROJECT=klinik-ai-499720
FIRESTORE_DATABASE_ID=klinikdb
GOOGLE_APPLICATION_CREDENTIALS=/absolute/path/to/firebase-credentials.json
GCS_BUCKET_NAME=klinik-ai-499720-skin-images
